body {
    max-width: 540px;
    min-width: 320px;
    margin: 0 auto;
    font: normal 14px/1.5 Tahoma, "Lucida Grande", Verdana, "Microsoft Yahei", STXihei, hei;
    color: #000;
    background: #f2f2f2;
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
}
a {
    text-decoration: none;
    color: #222;
}
div {
    box-sizing: border-box;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
/*搜索模塊*/
.search_index {
    display: flex;
    position: fixed;
    max-width: 540px;
    min-width: 320px;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100%;
    height: 44px;
    background-color: #f6f6f6;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
}
.search {
    position: relative;
    height: 26px;
    border: 1px solid #cccccc;
    flex: 1;
    font-size: 12px;
    line-height: 24px;
    color: #666666;
    padding-left: 25px;
    margin: 7px 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,.2);
}
.search::before {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 15px;
    height: 15px;
    background: url("../images/sprite.png") no-repeat -59px -278px;
    background-size: 104px auto;
}
.user {
    width: 44px;
    height: 44px;
    font-size: 12px;
    text-align: center;
    color: #099fde;
}
.user::before {
    content: '';
    display: block;
    width: 23px;
    height: 23px;
    background: url("../images/sprite.png") no-repeat -59px -193px;
    background-size: 104px auto;
    margin: 5px auto -2px;
}
/*focus*/
.focus {
    padding-top: 44px;
}
.focus img{
    width: 100%;
}
/*局部導航藍*/
.local_nav {
    display: flex;
    height: 64px;
    background-color: #ffffff;
    margin: 3px 4px;
    border-radius: 8px;
}
.local_nav li {
    flex: 1;
}
.local_nav a {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
}
.local_nav_icon {
    width: 32px;
    height: 32px;
    margin-top: 8px;
}
.local_nav li:nth-child(1) .local_nav_icon {
    background: url("../images/localnav_bg.png") no-repeat 0 0;
    background-size: 32px auto;
}
.local_nav li:nth-child(2) .local_nav_icon {
    background: url("../images/localnav_bg.png") no-repeat 0 -32px;
    background-size: 32px auto;
}
.local_nav li:nth-child(3) .local_nav_icon {
    background: url("../images/localnav_bg.png") no-repeat 0 -64px;
    background-size: 32px auto;
}
.local_nav li:nth-child(4) .local_nav_icon {
    background: url("../images/localnav_bg.png") no-repeat 0 -96px;
    background-size: 32px auto;
}
.local_nav li:nth-child(5) .local_nav_icon {
    background: url("../images/localnav_bg.png") no-repeat 0 -128px;
    background-size: 32px auto;
}
/*nav*/
nav {
    border-radius: 8px;
    margin: 0 4px 3px;
    overflow: hidden;
}
.nav_common {
    display: flex;
    height: 88px;
}
.nav_common:nth-child(2) {
    margin: 3px 0;
}
.nav_item {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.nav_item a {
    flex: 1;
    text-align: center;
    line-height: 44px;
    color: #ffffff;
    font-size: 14px;
    text-shadow: 1px 1px rgba(0,0,0,.2);
}
.nav_item a:nth-child(1) {
    border-bottom: 1px solid #ffffff;
}
.nav_item:nth-child(1) a {
    border: 0;
    background: url("../images/hotel.png") no-repeat bottom center;
    background-size: 121px auto;
}
.nav_item:nth-child(-n+2) {
    border-right: 1px solid #ffffff;
}
.nav_common:nth-child(1) {
    background: -webkit-linear-gradient(left,#fa5b54,#fa994e);
}
.nav_common:nth-child(2) {
    background: -webkit-linear-gradient(left,#4b90ed,#53bbed);
}
.nav_common:nth-child(3) {
    background: -webkit-linear-gradient(left,#35c3a8,#6bd55a);
}
/*測導航欄*/
.sub_nav_entry {
    display: flex;
    border-radius: 8px;
    background-color: #ffffff;
    margin: 0 4px;
    flex-wrap: wrap;
    padding: 5px 0;
}
.sub_nav_entry li {
    flex: 20%;
}
.sub_nav_entry a {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sub_nav_entry_icon {
    width: 24px;
    height: 24px;
    background: url("../images/subnav-bg.png") no-repeat 0 0;
    background-size: 24px auto;
    margin-top: 6px;
}
/*銷售模塊*/
.sales_box {
    border-top: 1px solid #cccccc;
    background-color: #ffffff;
    margin: 4px;
}
.sales_hd {
    position: relative;
    height: 44px;
    border-bottom: 1px solid #cccccc;
}
.sales_hd h2 {
    position: relative;
    text-indent: -999px;
    overflow: hidden;
}
.sales_hd h2::after {
    position: absolute;
    top: 8px;
    left: 20px;
    content: '';
    width: 79px;
    height: 15px;
    background: url("../images/hot.png") no-repeat 0 -20px;
    background-size: 79px auto;
}
.more {
    position: absolute;
    top: 0px;
    right: 5px;
    background: -webkit-linear-gradient(left,#ff516e,#ff6ac2);
    border-radius: 16px;
    padding: 3px 20px 3px 10px;
    color: #ffffff;

}
.more::after {
    content: '';
    position: absolute;
    top: 9px;
    right: 9px;
    width: 7px;
    height: 7px;
    border-top: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
    transform: rotate(45deg);
}
.row {
    display: flex;
}
.row a {
    flex: 1;
    border-bottom: 1px solid #eeee;
}
.row a:nth-child(1) {
    border-right: 1px solid #eeee;
}
.row a img {
    width: 100%;
}



